.options-panel {
  background-color: #dfd9f5;
}

.site-title {
  /* background-color: #d4c8ff;
  border-radius: 15px 15px 0px 0px;
  font-size: 48px;
  text-shadow: 2px 2px 2px rgb(150, 121, 255); */
}

hr {
  border: 1px solid rgb(150, 121, 255)
}